
#headergallery{
    margin-top: 8%;
    background-color: #363636;
    padding: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0 0px #f00, 0 0 10px #f00, 0 0 30px #f00;
}

#headergallery h1 {
    color: rgb(231, 14, 14);
}

#gallerybody {
    background-color: #292828;
}

.photos {
    display: flex;
    flex-direction: column;
}
.photos img{
    width: 170px;
    height: 220px;
    border-style: solid;
    border-color: crimson;
    border-bottom-style: dashed;
}

.films {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
    margin-top: 30px;
}

.films a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    width: 1fr;
    height: 300px;
    padding-bottom: 0;
}

.films a:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
    border-bottom-style: solid;
    border-bottom-color: crimson;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 5px #f00, 0 0 20px #f00, 0 0 50px #f00;
}

.photos figcaption h4 {
    text-align: center;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 6%;
}
@media (min-width: 600px) and (max-width: 768px) {
    .photos img{
        width: 220px;
        height: 300px;
    }

    .films a {
        width: 1fr;
        padding-bottom: 32%;
    }

     .films {
        row-gap: 3rem;
    }
}

@media (min-width: 769px) {

    #headergallery {
        margin-top: 3%;
    }

    ul li a {
        font-size: 20px;
    }

    .films {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 8rem;
    }

    .photos img{
        width: 220px;
        height: 300px;
    }

    .films a {
        width: 1fr;
        padding-bottom: 32%;
    }

    .photos figcaption h4 {
        font-size: larger;
    }

@media (min-width: 769px) and (max-width: 1319px) {

    .films > :last-child {
    grid-column: 2;
    justify-self: center;
    }

    .films {
        row-gap: 4rem;
    }
}

@media (min-width: 1320px) {
    
    #headergallery {
        font-size: 20px;
    }

    .films {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 6rem;
    }

}

@media (min-width: 950px) and (max-width: 1319px) {

    .photos img{
        width: 260px;
        height: 350px;
    }

    .films a {
        width: 1fr;
        padding-bottom: 40%;
    }
}
}

