nav {
    background-color: #0a0a0a;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-style: solid;
    border-bottom-color: #f5b041;
    border-width: 1px;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    padding: 14px 30px;
    text-decoration: none;
    color: #f5b041;
    font-size: 20px;
}

ul li a:hover {
    background-color: #f8bd7b;
    color: #0a0a0a;
}

body {
    margin: 0;
    background-color: rgb(131, 99, 58);
}

header h1{
    color: #f1760a;
    text-align: center;
    margin: 30px;
}

header {
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #f5b041;
    border-top-color: #f5b041;
    background-color: #242424;
    margin-top: 40px;
}

@media (max-width: 780px) {
ul li a {
    font-size: 15px;
}
}

footer {
    background-color: #6d6d6d;
    width: 100%;
    color: white;
    margin-bottom: 0;
    margin-top: 40px;
}

footer img{
    width: 80px;
}

.socials {
    padding: 40px;
    background-color: #646464;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#moldova {
    width:  200px;
}

.country {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.country img{
    align-self: center;
}

.all {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.igetc {
    width: 270px;
    padding: 60px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-self: center;
}

.socials h2 {
    font-size: 20px;
    color: #313131;
}

.callme {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.about {
    display: flex;
    justify-content: baseline;
    gap: 20px;
}

.callme p {
    color: #000000;
    padding-top: 10px;
    font-size: 17px;
}

.igetc img:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

@media (max-width:780px) {
    .socials {
        grid-template-columns: 1fr;
        row-gap: 22px;
    }

    .socials >:last-child {
        display: none;
    }
}

@media (min-width: 781px) and (max-width:1080px) {
    .socials {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }

    .socials >:last-child {
        grid-column: -1/1;
        justify-content: center;
        align-self: center;
    }
}