
.taekwondo {
    display: flex;
    justify-content: center;
    background-color: #f3c07a;
    flex-direction: column;
    margin: 3%;
    border-style: solid;
    border-color: #242424;
    border-radius: 2rem;
}

.taekwondo p {
    text-align: center;
    margin: 2rem;
    background-color: rgb(255, 230, 197);
    padding: 4%;
    border: solid rgb(131, 99, 58) 2px;
    border-radius: 1rem;
    font-size: larger;
}

.taekwondo img{
    width: 300px;
    border: solid rgb(131, 99, 58) 2px;
    border-radius: 1rem;
}

.taekimg img:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.taekimg {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


@media (min-width: 950px) {

    .taekwondo {
        flex-direction: row;
    }

    .taekimg {
        align-self: center;
    }

    .taekwondo div{
        align-self: center;
    }

    .taekwondo img {
        width: 350px;
        margin: 2rem;
    }

    .taekwondo p {
        font-size: 17px;
    }

    #it {
        order: -1;
    }
}

@media (min-width: 1020px) {
    .taekwondo p {
        font-size: 18px;
    }

    .taekwondo img {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .taekwondo p {
        font-size: 22px;
    }
}