
.boxindex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #242424;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: #f1760a;
    border-radius: 2rem;
}

.boxindex div {
    display: flex;
    gap: 2rem;
    border-style: dashed;
    border-width: 2px;
    border-radius: 0.5rem;
    border-color: crimson;
    padding: 7px;
    background-color: #f8bd5e;
    align-items: center;
}

.boxindex img{
    height: 110px;
}

.boxindex a {
    text-decoration: none;
    color: #0a0a0a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.boxindex a:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease;
}

.boxindex {
    background-color: #242424;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: #f1760a;
    border-radius: 2rem;

}
@media (min-width: 1000px){
    .boxindex {
    grid-template-columns: repeat(4, 1fr);
}
}

@media (min-width: 781px) and (max-width: 1040px) {
    #imgvol {
        display: none;
    }

    div h3 {
    margin: 1% 10% 0 10%;
}

.boxindex img{
    height: 90px;
}

}

@media (min-width:781px){

header h1 {
    font-size: 50px;
}

.undermp {
    display: flex;
    margin-top: 10px; 
    justify-content: center; 
    gap: 1rem; 
    background-color: #f3c07a;
}

.undermp p {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
    display: block;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #f5b041;
    align-self: center;
    padding: 5% 4% 5% 4%;
    border-style: solid;
    border-color: #a67544;
    border-radius: 7rem;
}

div h3 {
    font-size: 30px;
    color: #f1760a;
    background-color: #242424;
    border-style: double;
    border-radius: 3rem;
    border-color: crimson;
    margin: 2% 20% 2% 20%;
    text-align: center;
    padding: 2% 1% 2% 1%;
}

#imgme {
    height: 350px;
    align-self: center;
    margin: 3% 2% 3% 0;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 10rem;
}

#imgvol {
    height: 400px;
    margin: 3% 0 3% 2%;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 10%;
    align-self: center;
}
}

@media (max-width: 780px) {
.undermp {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #f3c07a;
    border-style: solid;
    border-color: #242424;
    padding: 10px;
    border-radius: 3rem;
}

.undermp p {
    text-align: center;
    align-self: center;
    margin-left: 1%;
    margin-right: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-style: italic;
  
}

div h3 {
    display: block;
    font-size: larger;
    color: #f1760a;
    padding: 5px;
    background-color: #242424;
    border-style: double;
    border-radius: 3rem;
    border-color: crimson;
    margin: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.undermp img {
    width: 240px;
    height: 280px;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #703d10;
    border-radius: 40%;
}

.boxindex div {
    display: flex;
    gap: 1rem;
    border-style: dashed;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #f1760a;
    padding: 7px;
    background-color: #f3c07a;
}

.boxindex a {
    text-decoration: none;
    color: #0a0a0a;
    font-family: 'Courier New', Courier, monospace;
}

.boxindex img{
    width: 70px;
    height: 70px;
}
#imgvol {
    display: none;
}

.boxindex {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
